@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
body {
    font-family: "Roboto", sans-serif;
}
.container{
    width: 100% !important;
    max-width: 100% !important;
    padding: 0px 14%;
    background-color: #f3f3f3;
}
.filter{
    display: grid;
    grid-template-columns: repeat(4, minmax(0,1fr));
    gap: 32px;
    row-gap: 2px;
    padding-top: 16px;
    padding-bottom: 16px;
}
.rekapitulasi{
    padding-top: 16px;
    overflow-x: scroll;
}
.rekapitulasi__header h3{
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    color: #333;
}
.filter{
    position: sticky;
    top: 0;
    background-color: white ;
}
.rekapitulasi__calon{
    border-radius: 4px;
    border: 1px solid rgba(0,0,0,.125);
    overflow: hidden;
}
.container__wrapper{
    padding: 16px 2%;
    background-color: white;
    border-right: 1px solid rgba(0,0,0,.125);
    border-left: 1px solid rgba(0,0,0,.125);
    box-shadow: 0px 0px 20px grey;
}
@media screen and (max-width:1200px) {
    .container{
        padding: 0px 0%;
        background-color: #f3f3f3;
    }
    .rekapitulasi-chart__container{
        width: 100% !important;
        overflow-x: scroll;
    }
    #rekapitulasi__chart {
        height: 450px !important;
    }
    .rekapitulasi__header h3{
        font-size: 12px;    
    }
}
@media screen and (max-width:800px) {
    .container__wrapper{
        padding-top: 0;
    }
    .filter{
       display: flex;
       flex-direction: column;
       gap: 16px;
       padding-top: 0;
    }

}